@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Merriweather";
  src: url("/Merriweather-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Merriweather";
  src: url("/Merriweather-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

html,
body {
  font-family: "Merriweather";
}
